@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700,600,400&subset=latin,cyrillic);
@import url(../fonts/ComicSansMS-Bold/ComicSansMS-Bold.css);
/* Helper classes
   ========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.form-group:after,
.form-group:before,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
.form-group:after,
.container:after {
  clear: both;
}
.clearfix,
.form-group,
.container {
  *zoom: 1;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  color: #4b4b4b;
}
html {
  font-size: 14px;
  min-height: 100%;
  min-width: 1200px;
  line-height: 1.357;
  position: relative;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  background: url("../img/bg.jpg") top left no-repeat;
  background-attachment: fixed;
}
section {
  z-index: 10;
}
.container {
  padding: 0 115px 0 15px;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.bg-bottom-left {
  left: 0;
  bottom: 0;
  width: 300px;
  height: 250px;
  position: absolute;
  background: url("../img/footer_bg_left.jpg") 0 0 no-repeat;
}
.bg-bottom-right {
  right: 0;
  bottom: 0;
  width: 300px;
  height: 250px;
  position: absolute;
  background: url("../img/footer_bg_right.jpg") 0 0 no-repeat;
}
.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  height: 100px;
  position: fixed;
  background: url("../img/bg.jpg") top left no-repeat;
}
.header.header-message {
  height: 120px;
}
.header .header0 {
  width: 100%;
  position: relative;
}
.header .logo {
  top: 4px;
  left: 10px;
  z-index: 200;
  width: 174px;
  height: 93px;
  position: absolute;
  background: url("../img/logo.png") 0 0 no-repeat;
}
.header .btn-exit {
  top: 10px;
  right: 10px;
  width: 209px;
  height: 79px;
  z-index: 200;
  text-align: center;
  position: absolute;
  padding-top: 34px;
  padding-left: 20px;
  background: url("../img/btn-exit.png") 0 -79px no-repeat;
}
.header .btn-exit a {
  color: #606060;
  font-size: 17px;
  line-height: 20px;
  padding-left: 20px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  background: url("../img/icon-exit.png") 0 4px no-repeat;
}
.header .btn-exit a:hover {
  color: #ff6600;
  background-position: 0 -82px;
}
.header .btn-register {
  top: 90px;
  right: 45px;
  z-index: 30;
  color: #6a8297;
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  text-decoration: none;
}
.header .btn-register:hover {
  text-decoration: underline;
}
.topnav {
  width: 100%;
  height: 66px;
  position: relative;
  margin: 0 auto 30px auto;
  background: url("../img/topnav_bg.png") top left no-repeat;
}
.topnav ul {
  width: 100%;
  height: 65px;
  display: table;
}
.topnav li {
  height: 65px;
  padding: 0 2px;
  text-align: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.topnav li.active a {
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6f96d9+0,4a7ad2+100 */
  background: #6f96d9;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZmOTZkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTdhZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #6f96d9 0%, #4a7ad2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6f96d9), color-stop(100%, #4a7ad2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #6f96d9 0%, #4a7ad2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #6f96d9 0%, #4a7ad2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #6f96d9 0%, #4a7ad2 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #6f96d9 0%, #4a7ad2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6f96d9', endColorstr='#4a7ad2', GradientType=0);
  /* IE6-8 */
}
.topnav a {
  width: 100%;
  height: 100%;
  color: #6f6f6f;
  font-size: 16px;
  line-height: 65px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.topnav a:hover {
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6f96d9+0,4a7ad2+100 */
  background: #6f96d9;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZmOTZkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTdhZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #6f96d9 0%, #4a7ad2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6f96d9), color-stop(100%, #4a7ad2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #6f96d9 0%, #4a7ad2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #6f96d9 0%, #4a7ad2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #6f96d9 0%, #4a7ad2 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #6f96d9 0%, #4a7ad2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6f96d9', endColorstr='#4a7ad2', GradientType=0);
  /* IE6-8 */
}
.topnav a .num {
  top: -1px;
  right: -1px;
  width: 28px;
  height: 28px;
  color: #feffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  position: absolute;
  background: #ff7f00;
  border: 3px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.topnav.topnav-icon li a {
  padding-left: 35px;
  padding-right: 10px;
}
.topnav.topnav-icon li a:before {
  top: 20px;
  left: 8px;
  width: 25px;
  height: 25px;
  content: " ";
  position: absolute;
  background: url("../img/topnav-icon.png") 0 0 no-repeat;
}
.topnav.topnav-icon li.active.item1 a:before {
  background-position: 0 -25px;
}
.topnav.topnav-icon li.active.item2 a:before {
  background-position: -134px -25px;
}
.topnav.topnav-icon li.active.item3 a:before {
  background-position: -404px -25px;
}
.topnav.topnav-icon li.active.item4 a:before {
  background-position: -665px -25px;
}
.topnav.topnav-icon li.active.item5 a:before {
  background-position: -944px -25px;
}
.topnav.topnav-icon li.active.item6 a:before {
  background-position: -1077px -25px;
}
.topnav.topnav-icon li.item1 a:before {
  background: url("../img/topnav-icon.png") 0 0 no-repeat;
}
.topnav.topnav-icon li.item1 a:hover:before {
  background-position: 0 -25px;
}
.topnav.topnav-icon li.item2 a:before {
  background-position: -134px 0;
}
.topnav.topnav-icon li.item2 a:hover:before {
  background-position: -134px -25px;
}
.topnav.topnav-icon li.item3 a:before {
  background-position: -404px 0;
}
.topnav.topnav-icon li.item3 a:hover:before {
  background-position: -404px -25px;
}
.topnav.topnav-icon li.item4 a:before {
  background-position: -665px 0;
}
.topnav.topnav-icon li.item4 a:hover:before {
  background-position: -665px -25px;
}
.topnav.topnav-icon li.item5 a:before {
  background-position: -944px 0;
}
.topnav.topnav-icon li.item5 a:hover:before {
  background-position: -944px -25px;
}
.topnav.topnav-icon li.item6 a:before {
  background-position: -1077px 0;
}
.topnav.topnav-icon li.item6 a:hover:before {
  background-position: -1077px -25px;
}
.page-title {
  padding-top: 100px;
  margin-bottom: 30px;
}
.page-title .breadcrumbs {
  width: 800px;
  margin: 0;
  float: left;
  list-style: none;
  padding: 10px 0 10px 0;
}
.page-title .breadcrumbs li {
  color: #8b8b8b;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  padding-right: 10px;
  display: inline-block;
}
.page-title .breadcrumbs li:before {
  top: 0;
  right: 0;
  content: "/";
  color: #8b8b8b;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  text-decoration: none;
}
.page-title .breadcrumbs li:last-child:before {
  display: none;
}
.page-title .breadcrumbs a {
  color: #8b8b8b;
  text-decoration: underline;
}
.page-title .breadcrumbs a:hover {
  text-decoration: none;
}
.page-title .materials {
  margin-top: 5px;
  float: right;
  height: 50px;
  color: #6f6f6f;
  font-size: 9px;
  cursor: pointer;
  line-height: 9px;
  text-align: right;
  padding-top: 17px;
  margin-right: 88px;
  padding-right: 45px;
  display: inline-block;
  position: relative;
  background: url("../img/icon-materials.png") 100% 0 no-repeat;
}
.page-title .materials:hover {
  background-position: 100% -50px;
}
.page-title .materials:hover .materials-source-inner {
  display: block;
}
.page-title .materials .materials-source-inner {
  top: 50px;
  z-index: 20;
  right: -88px;
  width: 767px;
  display: none;
  padding-top: 10px;
  position: absolute;
}
.page-title .materials .materials-source {
  position: relative;
  background: #eaeaea;
  text-align: left;
  padding: 30px 0 20px 0;
  border: 1px solid #cdcece;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.31);
}
.page-title .materials .materials-source:before {
  top: -3px;
  right: 80px;
  width: 85px;
  height: 25px;
  z-index: 20;
  content: "";
  position: absolute;
  background: url("../img/materials-source-bg.png") 0 0 no-repeat;
}
.page-title .materials .materials-source ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-title .materials .materials-source li {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0 20px;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 10px;
  overflow: hidden;
}
.page-title .hello {
  float: right;
  color: #648ed6;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  padding: 10px 20px 10px 20px;
  position: relative;
  display: inline-block;
}
.page-title .hello:before {
  top: 15px;
  left: 0;
  width: 8px;
  height: 8px;
  content: " ";
  position: absolute;
  border: 3px solid #648ed6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.page-title.forum-title {
  top: 100px;
  left: 0;
  right: 0;
  z-index: 100;
  height: 100px;
  position: fixed;
  padding-top: 0;
  margin-bottom: 0;
  background: url("../img/bg.jpg") left -100px no-repeat;
}
.messages {
  padding-top: 120px;
}
.messages .message-theme {
  z-index: 10;
  width: 359px;
  top: 120px;
  bottom: 30px;
  position: fixed;
}
.messages .message-theme .message-theme-inner {
  height: 100%;
  overflow-y: scroll;
}
.messages .message-theme ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.messages .message-theme li {
  padding: 3px 5px;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 5px;
  position: relative;
}
.messages .message-theme li:active,
.messages .message-theme li.active {
  background: #e4ebf7;
}
.messages .message-theme li:active a,
.messages .message-theme li.active a {
  text-decoration: underline;
}
.messages .message-theme li.active .num {
  font-weight: 400;
}
.messages .message-theme a {
  color: #242424;
  text-decoration: none;
}
.messages .message-theme a:hover {
  color: #ff6600;
}
.messages .message-theme .num {
  top: 50%;
  right: 22px;
  height: 14px;
  color: #233f75;
  font-size: 11px;
  font-weight: 700;
  margin-top: -7px;
  line-height: 14px;
  position: absolute;
}
.messages .message-list {
  float: left;
  width: 710px;
  position: relative;
  margin-left: 360px;
}
.messages .message-list h3 {
  margin-left: 30px;
  margin-bottom: 30px;
}
.messages .message-list ul {
  padding: 0;
  width: 710px;
  list-style: none;
  margin: 0 0 200px 0;
}
.messages .message-list ul li {
  width: 710px;
  display: table;
  border-bottom: 1px solid #cccccc;
}
.messages .message-list ul li.message-new {
  background: #e5ecf7;
}
.messages .message-list .message-avatar {
  width: 80px;
  padding: 9px;
  display: table-cell;
  vertical-align: top;
}
.messages .message-list .message-note {
  width: 160px;
  padding: 9px;
  color: #34434b;
  font-size: 13px;
  line-height: 20px;
  display: table-cell;
  vertical-align: top;
}
.messages .message-list .message-note .message-author {
  color: #ff6600;
  display: block;
}
.messages .message-list .message-note .message-author-name {
  display: block;
}
.messages .message-list .message-note .message-date {
  display: block;
}
.messages .message-list .message-note .message-date span {
  margin-right: 5px;
}
.messages .message-list .message-text {
  width: 470px;
  font-size: 15px;
  line-height: 20px;
  display: table-cell;
  vertical-align: top;
  padding: 9px;
}
.messages .message-list .message-text .message-text-inner {
  width: 452px;
  overflow: hidden;
  white-space: normal;
}
.messages .message-list .message-text p {
  margin-bottom: 9px;
}
.messages .message-form {
  z-index: 10;
  width: 710px;
  bottom: 0;
  background: #fff;
  position: fixed;
  padding-bottom: 30px;
}
.messages .message-form .form-control {
  height: 80px;
  width: 100%;
  outline: none;
  display: block;
  padding: 15px 10px;
  border: 1px solid #b8b8b8;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.messages .message-form .btn-message {
  width: 100%;
  height: 60px;
  border: none;
  padding: 19px;
  outline: none;
  color: #222222;
  display: block;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  background: #f2f2f1;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid #d9d9d8;
}
.messages .message-form .btn-message:hover {
  background: #e6ecf7;
}
.lesson .lesson-theme {
  z-index: 100;
  width: 300px;
  top: 255px;
  bottom: 55px;
  position: fixed;
  padding-left: 8px;
}
.lesson .lesson-theme .lesson-theme-inner {
  height: 100%;
  overflow-y: scroll;
}
.lesson .lesson-theme-list {
  margin: 0;
  padding: 13px 0 0 0;
  list-style: none;
}
.lesson .lesson-theme-list > li {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  margin-bottom: 15px;
}
.lesson .lesson-theme-list > li > a {
  color: #242424;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
  display: inline-block;
  text-decoration: none;
}
.lesson .lesson-theme-list > li > a:before {
  top: 3px;
  left: 0;
  width: 12px;
  height: 12px;
  content: "";
  position: absolute;
  background: url("../img/lesson-theme-list-arrow.png") 0 0 no-repeat;
}
.lesson .lesson-theme-list > li > a:hover {
  color: #ff6600;
}
.lesson .lesson-theme-list > li > a:hover:before {
  background-position: 0 -12px;
}
.lesson .lesson-theme-list > li > a.active {
  color: #ff6600;
}
.lesson .lesson-theme-list > li > a.active:before {
  background-position: 0 -12px;
}
.lesson .lesson-theme-list ul {
  margin: 0;
  display: none;
  padding: 5px 0 5px 20px;
  list-style: none;
}
.lesson .lesson-theme-list ul > li {
  padding: 0 10px 8px 12px;
  border-left: 1px solid #ebebeb;
}
.lesson .lesson-theme-list ul > li:last-child {
  padding-bottom: 0;
}
.lesson .lesson-theme-list ul > li a {
  color: #242424;
  font-size: 11px;
  line-height: 1;
  text-decoration: none;
}
.lesson .lesson-theme-list ul > li a:hover {
  text-decoration: underline;
}
.lesson .lesson-theme-list ul > li.current a {
  text-decoration: underline;
}
.lesson .lesson-text {
  margin-left: 302px;
  padding: 25px 80px;
  background: #fbfbfb;
  border: 1px solid #eeefef;
  border-bottom: none;
}
.courses-title {
  padding-left: 60px;
}
.courses-list {
  margin: 0;
  padding: 0 0 0 208px;
  list-style: none;
}
.courses-list li {
  margin-bottom: 77px;
}
.courses-list .course-img {
  float: left;
  width: 147px;
  margin-right: 18px;
  border: 1px solid #bebebe;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
}
.courses-list .course-text {
  float: left;
  width: 220px;
}
.courses-list .course-title a {
  color: #272727;
  text-decoration: none;
}
.courses-list .course-activation-date {
  color: #adaeae;
  margin-bottom: 15px;
}
.courses-list .course-date {
  color: #343536;
  line-height: 20px;
  font-style: italic;
  margin-bottom: 5px;
}
.courses-list .course-date span {
  display: block;
  font-style: normal;
}
.courses-list .course-goto {
  color: #f2570a;
  text-decoration: underline;
}
.learning-block {
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
  display: table;
  list-style: none;
}
.learning-block > li {
  width: 400px;
  display: table-cell;
}
.learning-block > li:first-child {
  border-right: 1px solid #d0dcf2;
  border-left: 1px solid #f2f2f2;
}
.learning-block > li:last-child {
  border-left: 1px solid #d0dcf2;
  border-right: 1px solid #f2f2f2;
}
.learning-block .learning-title {
  color: #fff;
  padding: 10px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  background: #4d7dd2;
}
.learning-block .learning-list {
  margin: 0;
  padding: 20px 8px;
  list-style: none;
}
.learning-block .learning-list li {
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 10px;
  opacity: .4;
}
.learning-block .learning-list li.active {
  opacity: 1;
}
.learning-block .learning-list li:last-child {
  margin-bottom: 0;
}
.learning-block .learning-list li a {
  color: #3c3c3c;
  position: relative;
  padding-left: 10px;
  text-decoration: none;
}
.learning-block .learning-list li a:before {
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  content: "";
  position: absolute;
  background: #bebebe;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.learning-block .learning-list li a:hover {
  color: #ff7800;
  text-decoration: underline;
}
.learning-block .learning-list li a:hover:before {
  background: #ff7800;
}
.learning-block .learning-list li .file {
  padding-left: 10px;
}
.test-list {
  width: 800px;
  margin: 0 0 30px 190px;
}
.test-list h3 {
  color: #3b3c3c;
  font-size: 23px;
  line-height: 25px;
  font-style: normal;
  margin-bottom: 15px;
}
.test-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.test-list li {
  width: 100%;
  display: table;
}
.test-list li .test-name {
  height: 51px;
  padding: 5px 0 5px 55px;
  display: table-cell;
  position: relative;
  vertical-align: middle;
  background: url("../img/test-list-divider.png") 0 100% no-repeat;
}
.test-list li .test-result {
  width: 85px;
  padding: 5px 0;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
}
.test-list li .test-result .valid {
  color: #1cc405;
}
.test-list li .test-result .invalid {
  color: #c81414;
}
.test-list li a {
  color: #434343;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  text-decoration: none;
}
.test-list li a:before {
  top: 6px;
  left: 3px;
  width: 36px;
  height: 36px;
  content: " ";
  position: absolute;
  background: url("../img/icon-test.jpg") 0 0 no-repeat;
}
.test-list li a:hover {
  color: #ea4d00;
  text-decoration: underline;
}
.test-list li a:hover:before {
  background-position: 0 -36px;
}
.profile {
  margin: 0 0 45px 60px;
}
.profile h3 {
  color: #3b3c3c;
  font-size: 25px;
  margin-bottom: 10px;
}
.profile .profile-text {
  float: left;
  width: 560px;
  margin-left: -5px;
}
.profile .profile-text .form-group {
  margin-bottom: 15px;
}
.profile .profile-text .form-group label {
  float: left;
  width: 190px;
  text-align: right;
}
.profile label {
  display: block;
  color: #ff5d00;
  padding: 3px 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  font-style: italic;
}
.profile .form-control {
  float: right;
  width: 345px;
  height: 26px;
  outline: none;
  color: #bebebe;
  display: block;
  font-size: 15px;
  background: #fff;
  line-height: 20px;
  padding: 2px 7px;
  border: 1px solid #cccccc;
}
.profile .profile-image {
  float: left;
  width: 400px;
  margin-left: 30px;
}
.profile .profile-image .profile-avatar {
  width: 141px;
  position: relative;
  margin-bottom: 12px;
  border: 1px solid #cbcccc;
}
.profile .profile-image .profile-avatar .profile-avatar-inner {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  position: absolute;
  -webkit-box-shadow: inset 0px 1px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 7px 0px rgba(0, 0, 0, 0.3);
}
.profile .profile-image .profile-avatar > .empty-avatar {
  height: 130px;
  vertical-align: middle;
  line-height: 130px;
  text-align: center;
}
.profile .profile-image label {
  margin-bottom: 18px;
}
.profile .fileform {
  height: 32px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.profile .fileform .fileformlabel {
  float: left;
  width: 220px;
  height: 26px;
  color: #3d3d3d;
  font-size: 15px;
  overflow: hidden;
  text-align: left;
  line-height: 26px;
}
.profile .fileform .upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  font-size: 150px;
  height: 50px;
  z-index: 20;
  cursor: pointer;
}
.profile .fileform .btn-gray {
  float: left;
  margin-right: 8px;
}
.profile .btn-blue {
  margin: 35px 0 0 350px;
}
.profile .col-image {
  float: left;
  width: 225px;
}
.profile .col-image .user-avatar {
  width: 203px;
  position: relative;
  margin-bottom: 23px;
  border: 1px solid #cbcccc;
}
.profile .col-image .user-avatar .user-avatar-inner {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  position: absolute;
  -webkit-box-shadow: inset 0px 1px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 7px 0px rgba(0, 0, 0, 0.3);
}
.profile .col-image .btn-blue {
  margin: 0;
}
.profile .col-text {
  float: left;
  width: 380px;
  padding-right: 20px;
}
.profile .col-text ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile .col-text li {
  color: #3b3c3c;
  font-size: 19px;
  line-height: 26px;
  padding: 7px 0;
}
.profile .col-text li:first-child {
  color: #ff6600;
  font-weight: 600;
  font-style: italic;
}
.test {
  padding-bottom: 30px;
}
.test .quest {
  color: #434343;
  font-size: 18px;
  line-height: 30px;
  padding: 15px 20px;
  background: #ededed;
  margin-bottom: 25px;
}
.test .answer {
  padding-left: 20px;
  margin-bottom: 30px;
}
.test .answer .answer-title {
  color: #bbbbbb;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}
.test .answer .answer-form-inner {
  padding-left: 30px;
  padding-right: 50px;
  margin-bottom: 50px;
}
.test .answer textarea {
  padding: 14px 12px;
  height: 185px;
  line-height: 26px;
}
.test .answer .form-control {
  width: 100%;
  outline: none;
  color: #434343;
  display: block;
  font-size: 18px;
  background: #fff;
  line-height: 26px;
  padding: 4px 12px;
  border: 1px solid #d4d4d4;
  -webkit-box-shadow: inset 0px 0px 13px 0px rgba(122, 193, 255, 0.3);
  -moz-box-shadow: inset 0px 0px 13px 0px rgba(122, 193, 255, 0.3);
  box-shadow: inset 0px 0px 13px 0px rgba(122, 193, 255, 0.3);
}
.test .answer .answer-input {
  margin: 0;
  padding: 0;
  width: 545px;
  list-style: none;
  counter-reset: li;
}
.test .answer .answer-input li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 14px;
}
.test .answer .answer-input li:before {
  top: 0;
  left: 0;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  position: absolute;
  color: #fa7923;
  content: counter(li);
  counter-increment: li;
}
.test .answer .row {
  margin-left: -30px;
  position: relative;
}
.test .answer .row .col {
  width: 50%;
  float: left;
  padding: 0 40px 0 30px;
}
.test .answer .row .col.col-right {
  padding-left: 80px;
  padding-right: 0;
}
.test .answer .row .form-line {
  top: 15px;
  left: 50%;
  margin-left: -65px;
  width: 143px;
  height: 113px;
  position: absolute;
  background: url("../img/form-line.png") 0 0 no-repeat;
}
.test .btn-orange {
  margin-left: 30px;
}
.test .three-col li {
  float: left;
  width: 33.33%;
}
.test .orange-marker {
  padding: 0;
  list-style: none;
  margin: 0 0 15px 0;
}
.test .orange-marker li {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 10px;
  position: relative;
  padding-left: 18px;
  padding-right: 15px;
}
.test .orange-marker li:before {
  top: 10px;
  left: 0;
  width: 9px;
  height: 9px;
  content: ' ';
  position: absolute;
  background: #ff8400;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* Forum  */
.forum.forum-fixed {
  padding-top: 200px;
}
.forum .container {
  padding-right: 15px;
}
.pagination {
  padding: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.pagination li {
  color: #515151;
  font-size: 15px;
  line-height: 25px;
  margin-right: 3px;
  display: inline-block;
}
.pagination li a {
  width: 25px;
  height: 25px;
  color: #515151;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
.pagination li a:hover {
  text-decoration: underline;
}
.pagination li span {
  color: #fff;
  width: 25px;
  height: 25px;
  text-align: center;
  display: inline-block;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#777777+0,aca9a9+100 */
  background: #777777;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3Nzc3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhY2E5YTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #777777 0%, #aca9a9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #777777), color-stop(100%, #aca9a9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #777777 0%, #aca9a9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #777777 0%, #aca9a9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #777777 0%, #aca9a9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #777777 0%, #aca9a9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777', endColorstr='#aca9a9', GradientType=0);
  /* IE6-8 */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.forum-partition {
  margin: 0;
  padding: 0;
  list-style: none;
}
.forum-partition > li {
  background: #f9f9f9;
  border-bottom: 1px solid #c0c5ce;
}
.forum-partition > li:first-child {
  border-top: 1px solid #c0c5ce;
}
.forum-partition .forum-partition-title {
  height: 48px;
  font-size: 21px;
  padding: 0 5px;
  line-height: 48px;
  background: #e6edf9;
}
.forum-partition .forum-partition-title a {
  color: #565250;
  text-decoration: none;
}
.forum-partition .forum-partition-title a:hover {
  color: #ff7e00;
  text-decoration: underline;
}
.forum-partition .forum-partition-body {
  display: table;
  width: 100%;
}
.forum-partition .forum-partition-text {
  width: 720px;
  color: #323335;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 5px;
  display: table-cell;
  vertical-align: top;
}
.forum-partition .forum-partition-stats {
  display: table-cell;
  padding: 15px 5px 15px 0;
  vertical-align: top;
}
.forum-partition .forum-partition-stats dl {
  padding: 0;
  color: #838485;
  font-size: 15px;
  line-height: 15px;
  list-style: none;
  margin: 0 0 10px 0;
  background: url("../img/stats-point.png") left bottom repeat-x;
}
.forum-partition .forum-partition-stats dl dt {
  float: left;
  background: #f9f9f9;
  display: inline-block;
}
.forum-partition .forum-partition-stats dl dd {
  float: right;
  background: #f9f9f9;
  display: inline-block;
}
.forum-theme {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}
.forum-theme .message-number {
  width: 150px;
  padding: 5px;
  text-align: center;
}
.forum-theme .message-last {
  width: 302px;
  text-align: center;
  border-right: none;
}
.forum-theme .theme-name a {
  color: #3e3e3e;
  padding-left: 40px;
  display: inline-block;
  text-decoration: none;
  background: url("../img/icon-theme-name.png") 2px 3px no-repeat;
}
.forum-theme .theme-name a:hover {
  color: #ff7e00;
  text-decoration: underline;
  background-position: 2px -82px;
}
.forum-theme th {
  color: #3e3e3e;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  background: #e6edf9;
  vertical-align: middle;
  border-right: 1px solid #c1c7d1;
}
.forum-theme td {
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  padding: 10px 15px 10px 0;
  border-right: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
.forum-post {
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #d1d1d1;
}
.forum-post th {
  color: #3e3e3e;
  font-size: 14px;
  padding: 5px 15px;
  line-height: 19px;
  font-style: italic;
  background: #e6edf9;
  vertical-align: middle;
}
.forum-post th .post-mail {
  float: left;
  width: 16px;
  height: 19px;
  display: block;
  margin-right: 10px;
  background: url("../img/icon-theme-name.png") 0 3px no-repeat;
}
.forum-post th .post-date {
  float: left;
  height: 19px;
  display: block;
  margin-right: 10px;
}
.forum-post th .post-time {
  float: left;
  height: 19px;
  display: block;
}
.forum-post th .post-reply {
  color: #ff7e00;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
}
.forum-post th .post-reply:hover {
  text-decoration: underline;
}
.forum-post th .post-number {
  color: #3e3e3e;
}
.forum-post th.post-text {
  text-align: right;
  border-right: none;
}
.forum-post td {
  background: #f9f9f9;
  border-bottom: 1px solid #d1d1d1;
}
.forum-post td.post-text {
  padding: 15px;
  font-size: 12px;
  line-height: 20px;
}
.forum-post td.post-text p {
  margin-bottom: 0;
}
.forum-post td.post-text ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.forum-post td.post-text ul li {
  padding-left: 8px;
  position: relative;
}
.forum-post td.post-text ul li:before {
  left: 0;
  top: 0;
  content: '-';
  color: #393939;
  position: absolute;
}
.forum-post .post-quote-title th {
  font-weight: normal;
  background: #f0f0f0;
}
.forum-post .post-quote-title .reply-title {
  float: left;
}
.forum-post .post-quote-title .reply-cancel {
  float: right;
  color: #ff7e00;
  cursor: pointer;
  text-decoration: underline;
}
.forum-post .post-quote-title .reply-cancel:hover {
  text-decoration: none;
}
.forum-post .post-quote td {
  background: #f9e2cc;
}
.forum-post .post-quote th {
  background: #f9e2cc;
  border-bottom: 1px solid #d1d1d1;
}
.forum-post .post-legend {
  width: 216px;
  vertical-align: top;
  border-right: 1px solid #c1c7d1;
}
.forum-post .post-user {
  color: #ff7e00;
  font-size: 17px;
  padding: 8px 5px;
  line-height: 20px;
  border-bottom: 1px solid #d1d1d1;
}
.forum-post .post-user .post-user-role {
  color: #3e3e3e;
  display: block;
  font-size: 12px;
  line-height: 20px;
}
.forum-post .post-user-detail {
  color: #3e3e3e;
  font-size: 12px;
  padding: 8px 5px;
  line-height: 20px;
  border-bottom: 1px solid #d1d1d1;
}
.forum-post .post-user-status {
  color: #3e3e3e;
  font-size: 12px;
  padding: 6px 5px;
  line-height: 20px;
}
.forum-post blockquote {
  margin: 0 30px 20px 60px;
}
.forum-post blockquote .blockquote-title {
  color: #ff7e00;
  font-size: 16px;
  line-height: 20px;
}
.forum-post blockquote .blockquote-text {
  font-size: 12px;
  line-height: 20px;
  padding: 10px 15px;
  border: 1px solid #c7c7c7;
}
.forum-post blockquote .blockquote-author {
  font-size: 14px;
  position: relative;
  margin-bottom: 5px;
  padding-bottom: 2px;
}
.forum-post blockquote .blockquote-author:before {
  left: 0;
  bottom: 0;
  width: 120px;
  height: 1px;
  content: '';
  background: #acb2bb;
}
.forum-post .post-form {
  background: #f0f0f0;
}
.forum-post .post-form .post-form-register {
  padding: 8px 214px 12px 214px;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}
.forum-post .post-form .post-form-unregister {
  padding: 8px 30px 12px 30px;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}
.forum-post .post-form .form-control {
  width: 100%;
  outline: none;
  display: block;
  padding: 10px 10px;
  margin-bottom: 10px;
  border: 1px solid #b8b8b8;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.forum-post .post-form textarea {
  height: 90px;
}
.forum-post .post-form label {
  display: block;
  text-align: left;
  font-weight: 600;
}
.forum-post .post-form .btn-blue {
  padding-left: 105px;
  padding-right: 105px;
}
.forum-post .post-form .form-left {
  width: 70%;
  float: left;
  padding-right: 20px;
}
.forum-post .post-form .form-right {
  width: 30%;
  float: left;
  padding-left: 20px;
}
.forum-post .post-form .col50 {
  width: 50%;
  float: left;
  padding: 0 10px;
}
.forum-post .post-form .form-group {
  margin: 0 -10px;
}
.forum-post .post-form .captcha {
  width: 302px;
  height: 93px;
  margin: 18px auto 15px auto;
}
.form-reg {
  width: 570px;
  margin: 0 auto;
  padding-top: 40px;
}
.form-reg .form-group {
  margin-bottom: 15px;
}
.form-reg label {
  float: left;
  width: 225px;
  display: block;
  color: #ff5d00;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  font-style: italic;
  text-align: right;
  padding: 3px 20px 3px 0;
}
.form-reg .form-control {
  float: right;
  width: 345px;
  height: 26px;
  outline: none;
  color: #bebebe;
  display: block;
  font-size: 15px;
  background: #fff;
  line-height: 20px;
  padding: 2px 7px;
  border: 1px solid #cccccc;
}
.form-reg .form-control.form-captcha {
  width: 205px;
  margin-left: 18px;
}
.form-reg .img-captcha {
  float: right;
  width: 121px;
}
.login-box {
  width: 280px;
}
.login-box .form-login {
  text-align: center;
  padding: 16px 9px;
  background: #e6edf9;
  border: 1px solid #babbbc;
  margin-bottom: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
}
.login-box .form-login .form-group {
  margin-bottom: 10px;
}
.login-box .form-login .form-control {
  width: 100%;
  height: 38px;
  outline: none;
  color: #3f3f3f;
  display: block;
  font-size: 15px;
  background: #fff;
  line-height: 20px;
  padding: 8px 7px;
  text-align: center;
  border: 1px solid #a6abb4;
}
.login-box .form-login .btn-blue {
  padding: 10px 35px;
}
.login-box .forgot {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}
.login-box .forgot:hover {
  text-decoration: none;
}
/* End of Forum */
.divider {
  width: 100%;
  height: 1px;
  margin-bottom: 30px;
  background: url("../img/divider.png") top center no-repeat;
}
.teacher-link {
  top: 220px;
  right: -15px;
  width: 130px;
  color: #444444;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  position: absolute;
  text-align: center;
  text-decoration: none;
  padding: 102px 30px 0 30px;
  background: url("../img/icon-teacher.png") 50% 0 no-repeat;
}
.teacher-link:hover {
  background-position: 50% -150px;
}
.support-link {
  top: 390px;
  right: -15px;
  width: 130px;
  color: #444444;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  position: absolute;
  text-align: center;
  text-decoration: none;
  padding: 112px 30px 0 30px;
  background: url("../img/icon-help.png") 50% 0 no-repeat;
}
.support-link:hover {
  background-position: 50% -200px;
}
/* Forms */
.checkbox {
  margin-bottom: 15px;
}
.checkbox input[type=checkbox] {
  display: none;
}
.checkbox label {
  color: #434343;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
  padding-left: 35px;
  display: inline-block;
}
.checkbox label:before {
  left: 0;
  top: 4px;
  content: "";
  width: 22px;
  height: 22px;
  padding-top: 1px;
  padding-left: 1px;
  margin-right: 10px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon-form-item.png") 0 0 no-repeat;
}
.checkbox input[type=checkbox]:checked + label:before {
  background: url("../img/icon-form-item.png") 0 -23px no-repeat;
}
.radio {
  margin-bottom: 15px;
}
.radio label {
  color: #434343;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
  padding-left: 35px;
  display: inline-block;
}
.radio label:before {
  left: 0;
  top: 4px;
  content: "";
  width: 22px;
  height: 22px;
  padding-top: 1px;
  padding-left: 1px;
  margin-right: 10px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon-form-item.png") -23px 0 no-repeat;
}
.radio input[type=radio] {
  display: none;
}
.radio input[type=radio]:checked + label:before {
  background: url("../img/icon-form-item.png") -23px -23px no-repeat;
}
.teacher-form {
  width: 614px;
  height: 416px;
  position: relative;
  padding: 55px 70px 50px 62px;
  background: url("../img/tesacher-form-bg.jpg") 0 0 no-repeat;
}
.teacher-form .form-title {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  padding-left: 90px;
  margin-bottom: 20px;
  font-family: 'ComicSansMS-Bold';
}
.teacher-form .form-group {
  margin-bottom: 20px;
  position: relative;
}
.teacher-form .form-group .form-label {
  float: left;
  width: 65px;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: 'ComicSansMS-Bold';
}
.teacher-form .form-group .form-control {
  float: right;
  width: 415px;
}
.teacher-form .form-control {
  width: 100%;
  color: #000;
  border: none;
  outline: none;
  display: block;
  font-size: 11px;
  background: #fff;
  line-height: 14px;
  padding: 8px 10px;
  font-style: italic;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.teacher-form textarea {
  height: 128px;
  margin-bottom: 12px;
}
.teacher-form .btn-teacher-form {
  color: #fff;
  width: 175px;
  height: 63px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  padding: 15px 0;
  line-height: 33px;
  text-align: center;
  margin: 0 -18px 0 0;
  text-decoration: none;
  display: inline-block;
  font-family: 'ComicSansMS-Bold';
  background: url("../img/btn-teacher-form.png") 0 -300px no-repeat;
}
.teacher-form .btn-teacher-form:hover {
  background-position: 0 0;
}
.teacher-form .btn-teacher-form:active {
  top: 1px;
  position: relative;
}
.teacher-form .btn-close {
  top: 50px;
  right: 55px;
  width: 14px;
  height: 14px;
  z-index: 100;
  cursor: pointer;
  position: absolute;
  background: url("../img/btn-close.png") 0 0 no-repeat;
}
.help-form {
  width: 615px;
  height: 216px;
  background: url("../img/help-form-bg.png") 0 0 no-repeat;
}
.help-form .form {
  width: 350px;
  margin-left: 60px;
}
.help-form .form-title {
  color: #383838;
  font-size: 22px;
  font-weight: 600;
  line-height: 42px;
  padding-left: 75px;
  margin-bottom: 16px;
}
.help-form .form-group {
  margin-bottom: 14px;
  position: relative;
}
.help-form .form-group .form-label {
  float: left;
  width: 45px;
  color: #474542;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.help-form .form-group .form-control {
  float: right;
  width: 305px;
}
.help-form .form-control {
  width: 100%;
  color: #000;
  outline: none;
  display: block;
  font-size: 11px;
  background: #fff;
  line-height: 14px;
  padding: 7px 10px;
  border: 1px solid #a8a8a8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.help-form textarea {
  height: 58px;
  margin-bottom: 12px;
}
.help-form .btn-help-form {
  margin: 0;
  width: 152px;
  height: 26px;
  border: none;
  outline: none;
  color: #e8eaec;
  padding: 3px 0;
  cursor: pointer;
  font-size: 19px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  background: #f0840c;
  text-decoration: none;
  display: inline-block;
  text-transform: lowercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.help-form .btn-help-form:hover {
  background: #f6b809;
}
.help-form .btn-help-form:active {
  top: 1px;
  position: relative;
}
.btn-gray {
  margin: 0;
  border: none;
  outline: none;
  color: #3d3d3d;
  font-size: 14px;
  padding: 2px 15px;
  line-height: 20px;
  background: #dadada;
  text-decoration: none;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #aaa9a9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn-blue {
  margin: 0;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 35px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7a9dd9+0,4878ce+100 */
  background: #7a9dd9;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhOWRkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ODc4Y2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #7a9dd9 0%, #4878ce 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a9dd9), color-stop(100%, #4878ce));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7a9dd9 0%, #4878ce 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7a9dd9 0%, #4878ce 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7a9dd9 0%, #4878ce 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #7a9dd9 0%, #4878ce 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a9dd9', endColorstr='#4878ce', GradientType=0);
  /* IE6-8 */
}
.btn-blue:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b9b9b+0,757575+100 */
  background: #9b9b9b;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliOWI5YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTc1NzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #9b9b9b 0%, #757575 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b9b9b), color-stop(100%, #757575));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9b9b9b 0%, #757575 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9b9b9b 0%, #757575 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9b9b9b 0%, #757575 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #9b9b9b 0%, #757575 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b9b9b', endColorstr='#757575', GradientType=0);
  /* IE6-8 */
}
.btn-blue:active {
  top: 1px;
  position: relative;
}
.btn-blue.btn-medium {
  font-size: 18px;
  padding: 4px 25px;
  line-height: 26px;
}
.btn-blue.btn-xl {
  font-size: 22px;
  padding: 5px 45px;
  line-height: 27px;
}
.btn-orange {
  margin: 0;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 35px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dc985e+0,d8812e+100 */
  background: #dc985e;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjOTg1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkODgxMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #dc985e 0%, #d8812e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dc985e), color-stop(100%, #d8812e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dc985e 0%, #d8812e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dc985e 0%, #d8812e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dc985e 0%, #d8812e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #dc985e 0%, #d8812e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc985e', endColorstr='#d8812e', GradientType=0);
  /* IE6-8 */
}
.btn-orange:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b9b9b+0,757575+100 */
  background: #9b9b9b;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliOWI5YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTc1NzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #9b9b9b 0%, #757575 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b9b9b), color-stop(100%, #757575));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9b9b9b 0%, #757575 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9b9b9b 0%, #757575 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9b9b9b 0%, #757575 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #9b9b9b 0%, #757575 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b9b9b', endColorstr='#757575', GradientType=0);
  /* IE6-8 */
}
.btn-orange:active {
  top: 1px;
  position: relative;
}
/* Typography
	   ========================= */
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1 {
  color: #233f75;
  font-size: 36px;
  line-height: 40px;
  font-style: italic;
}
h2 {
  color: #233f75;
  font-size: 30px;
  line-height: 35px;
  font-style: italic;
}
h3 {
  color: #233f75;
  font-size: 24px;
  line-height: 50px;
  font-style: italic;
}
h4 {
  color: #233f75;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}
p {
  margin: 0;
  padding: 0 0 20px 0;
}
a {
  color: #f2570a;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
strong {
  font-weight: 600;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-marker {
  padding: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.list-marker li {
  color: #242424;
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
}
.list-marker li:before {
  top: 8px;
  left: 0;
  width: 4px;
  height: 5px;
  content: '';
  position: absolute;
  background: url("../img/point.png") 0 0 no-repeat;
}
.img-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
}
.img-left-text {
  float: left;
}
.text-lead {
  color: #17338d;
  font-size: 16px;
  font-style: italic;
}
.text-right {
  text-align: center;
}
.text-up {
  text-transform: uppercase;
}
@media (max-width: 1670px) {
  .topnav .container {
    width: 1300px;
    padding: 0 150px;
  }
  .topnav a {
    font-size: 16px;
  }
  .topnav.topnav-icon li a {
    padding-left: 0;
    padding-right: 0;
  }
  .topnav.topnav-icon li a:before {
    display: none;
  }
}
@media (max-width: 1370px) {
  .header .header0 {
    min-width: 1220px;
  }
  .topnav .container {
    width: 1100px;
    padding-left: 180px;
  }
  .topnav a {
    font-size: 15px;
  }
}
.jGrowl {
  z-index: 9999;
  color: #ffffff;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
}
.jGrowl.top-left {
  left: 0px;
  top: 0px;
}
.jGrowl.top-right {
  right: 0px;
  top: 0px;
}
.jGrowl.bottom-left {
  left: 0px;
  bottom: 0px;
}
.jGrowl.bottom-right {
  right: 0px;
  bottom: 0px;
}
.jGrowl.center {
  top: 0px;
  width: 50%;
  left: 25%;
}
.jGrowl.center .jGrowl-notification,
.jGrowl.center .jGrowl-closer {
  margin-left: auto;
  margin-right: auto;
}
.jGrowl-notification {
  background-color: #2956a4;
  opacity: 0.9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
  zoom: 1;
  width: 250px;
  padding: 10px;
  margin: 10px;
  text-align: left;
  display: none;
  border-radius: 5px;
  word-break: normal;
  min-height: 40px;
}
.jGrowl-notification .ui-state-highlight,
.jGrowl-notification .ui-widget-content .ui-state-highlight,
.jGrowl-notification .ui-widget-header .ui-state-highlight {
  border: 1px solid #000;
  background: #000;
  color: #fff;
}
.jGrowl-notification .jGrowl-header {
  font-weight: bold;
  font-size: .85em;
}
.jGrowl-notification .jGrowl-close {
  background-color: transparent;
  color: inherit;
  border: none;
  z-index: 99;
  float: right;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}
.jGrowl-closer {
  background-color: #2956a4;
  opacity: 0.9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100));
  zoom: 1;
  width: 250px;
  padding: 10px;
  margin: 10px;
  text-align: left;
  display: none;
  border-radius: 5px;
  word-break: normal;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  font-size: .9em;
  font-weight: bold;
  text-align: center;
}
.jGrowl-closer .ui-state-highlight,
.jGrowl-closer .ui-widget-content .ui-state-highlight,
.jGrowl-closer .ui-widget-header .ui-state-highlight {
  border: 1px solid #000;
  background: #000;
  color: #fff;
}
/** Hide jGrowl when printing **/
@media print {
  .jGrowl {
    display: none;
  }
}
