@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700,600,400&subset=latin,cyrillic);
@import url(../fonts/ComicSansMS-Bold/ComicSansMS-Bold.css);

@import "mixing.less";

/* Base styles
   ========================= */

* {
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
	color: #4b4b4b;
}

html {
	font-size: 14px;
	min-height: 100%;
	min-width: 1200px;
	line-height: 1.357;
	position: relative;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	background: url("../img/bg.jpg") top left no-repeat;
	background-attachment: fixed;

}


section {
	z-index: 10;
}

.container {
	padding: 0 115px 0 15px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.bg-bottom-left {
	left: 0;
	bottom: 0;
	width: 300px;
	height: 250px;
	position: absolute;
	background: url("../img/footer_bg_left.jpg") 0 0 no-repeat;
}

.bg-bottom-right {
	right: 0;
	bottom: 0;
	width: 300px;
	height: 250px;
	position: absolute;
	background: url("../img/footer_bg_right.jpg") 0 0 no-repeat;
}

.header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	position: fixed;
	min-height: 100px;
	background: url("../img/bg.jpg") top left no-repeat;

	&.header-message {
		height: 136px;

	}

	&.header-forum {
	height: 210px;
}

	.header0 {
		width: 100%;
		position: relative;
	}

	.logo {
		top: 4px;
		left: 10px;
		z-index: 200;
		width: 174px;
		height: 93px;
		position: absolute;
		background: url("../img/logo.png") 0 0 no-repeat;
	}

	.btn-exit {
		top: 10px;
		right: 10px;
		width: 209px;
		height: 79px;
		z-index: 200;
		text-align: center;
		position: absolute;
		padding-top: 34px;
		padding-left: 20px;
		background: url("../img/btn-exit.png") 0 -79px no-repeat;

		a {
			color: #606060;
			font-size: 17px;
			line-height: 20px;
			padding-left: 20px;
			font-weight: 600;
			display: inline-block;
			text-decoration: none;
			background: url("../img/icon-exit.png") 0 4px no-repeat;

			&:hover {
				color: #ff6600;
				background-position: 0 -82px;
			}
		}
	}

	.btn-register {
		top: 90px;
		right: 45px;
		z-index: 30;
		color: #6a8297;
		font-size: 18px;
		line-height: 20px;
		position: absolute;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.topnav {
	width: 100%;
	height: 66px;
	position: relative;
	margin: 0 auto 30px auto;
	background: url("../img/topnav_bg.png") top left no-repeat;

	ul {
		width: 100%;
		height: 65px;
		display: table;
	}

	li {
		height: 65px;
		padding: 0 2px;
		text-align: center;
		position: relative;
		display: table-cell;
		vertical-align: middle;

		&.active a {
			color: #fff;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6f96d9+0,4a7ad2+100 */
			background: #6f96d9; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZmOTZkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTdhZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #6f96d9 0%, #4a7ad2 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6f96d9), color-stop(100%,#4a7ad2)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #6f96d9 0%,#4a7ad2 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #6f96d9 0%,#4a7ad2 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #6f96d9 0%,#4a7ad2 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #6f96d9 0%,#4a7ad2 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f96d9', endColorstr='#4a7ad2',GradientType=0 ); /* IE6-8 */
		}
	}

	a {
		width: 100%;
		height: 100%;
		color: #6f6f6f;
		font-size: 16px;
		line-height: 65px;
		position: relative;
		display: inline-block;
		text-decoration: none;
		.border-radius(10px);

		&:hover {
			color: #fff;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6f96d9+0,4a7ad2+100 */
			background: #6f96d9; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZmOTZkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTdhZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #6f96d9 0%, #4a7ad2 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6f96d9), color-stop(100%,#4a7ad2)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #6f96d9 0%,#4a7ad2 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #6f96d9 0%,#4a7ad2 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #6f96d9 0%,#4a7ad2 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #6f96d9 0%,#4a7ad2 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f96d9', endColorstr='#4a7ad2',GradientType=0 ); /* IE6-8 */

		}

		.num {
			top:-1px;
			right: -1px;
			width: 28px;
			height: 28px;
			color: #feffff;
			font-size: 15px;
			font-weight: 700;
			line-height: 22px;
			text-align: center;
			position: absolute;
			background: #ff7f00;
			border: 3px solid #fff;
			.border-radius(50%);
		}
	}

	&.topnav-icon {

		li {

			a {
				padding-left: 35px;
				padding-right: 10px;

				&:before {
					top: 20px;
					left: 8px;
					width: 25px;
					height: 25px;
					content: " ";
					position: absolute;
					background: url("../img/topnav-icon.png") 0 0 no-repeat;
				}
			}

			&.active {

				&.item1 a:before {
					background-position: 0 -25px;
				}

				&.item2 a:before {
					background-position: -134px -25px;
				}

				&.item3 a:before {
					background-position: -404px -25px;
				}

				&.item4 a:before {
					background-position: -665px -25px;
				}

				&.item5 a:before {
					background-position: -944px -25px;
				}

				&.item6 a:before {
					background-position: -1077px -25px;
				}
			}

			&.item1 a {

				&:before {
					background: url("../img/topnav-icon.png") 0 0 no-repeat;
				}

				&:hover {
					&:before {
						background-position: 0 -25px;
					}
				}
			}

			&.item2 a {

				&:before {
					background-position: -134px 0;
				}

				&:hover {
					&:before {
						background-position: -134px -25px;
					}
				}
			}

			&.item3 a {

				&:before {
					background-position: -404px 0;
				}

				&:hover {
					&:before {
						background-position: -404px -25px;
					}
				}
			}

			&.item4 a {

				&:before {
					background-position: -665px 0;
				}

				&:hover {
					&:before {
						background-position: -665px -25px;
					}
				}
			}

			&.item5 a {

				&:before {
					background-position: -944px 0;
				}

				&:hover {
					&:before {
						background-position: -944px -25px;
					}
				}
			}

			&.item6 a {

				&:before {
					background-position: -1077px 0;
				}

				&:hover {
					&:before {
						background-position: -1077px -25px;
					}
				}
			}
		}
	}
}

.page-title {
	padding-bottom: 10px;

	.breadcrumbs {
		width: 800px;
		margin: 0;
		float: left;
		list-style: none;
		padding: 10px 0 20px 0;

		li {
			color: #8b8b8b;
			font-size: 14px;
			line-height: 20px;
			position: relative;
			padding-right: 10px;
			display: inline-block;

			&:before {
				top: 0;
				right: 0;
				content: "/";
				color: #8b8b8b;
				font-size: 14px;
				line-height: 20px;
				position: absolute;
				text-decoration: none;
			}

			&:last-child:before {
				display: none;
			}
		}

		a {
			color: #8b8b8b;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.materials {
		margin-top: 5px;
		float: right;
		height: 50px;
		color: #6f6f6f;
		font-size: 9px;
		cursor: pointer;
		line-height: 9px;
		text-align: right;
		padding-top: 17px;
		margin-right: 88px;
		padding-right: 45px;
		display: inline-block;
		position: relative;
		background: url("../img/icon-materials.png") 100% 0 no-repeat;

		&:hover {
			background-position: 100% -50px;

			.materials-source-inner {
				display: block;
			}
		}

		.materials-source-inner {
			top: 50px;
			right: -88px;
			width: 1200px;
			display: none;
			padding-top: 10px;
			position: absolute;
		}

		.materials-source {
			height: 155px;
			position: relative;
			background: #eaeaea;
			border: 1px solid #cdcece;
			.box-shadow(0px 2px 3px 0px rgba(0, 0, 0, 0.31));

			&:before {
				top: -3px;
				right: 80px;
				width: 85px;
				height: 25px;
				z-index: 20;
				content: "";
				position: absolute;
				background: url("../img/materials-source-bg.png") 0 0 no-repeat;
			}
		}
	}

	.hello {
		float: right;
		color: #648ed6;
		font-size: 15px;
		line-height: 20px;
		text-align: right;
		padding: 20px 20px 10px 20px;
		position: relative;
		display: inline-block;

		&:before {
			top: 25px;
			left: 0;
			width: 8px;
			height: 8px;
			content: " ";
			position: absolute;
			border: 3px solid #648ed6;
			.border-radius(50%);
		}
	}

}

.messages {
	padding-top: 136px;

	.message-theme {
		z-index: 10;
		width: 359px;
		top: 136px;
		bottom: 30px;
		position: fixed;

		.message-theme-inner {
			height: 100%;
			overflow-y: scroll;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			padding: 3px 5px;
			font-size: 14px;
			line-height: 19px;
			margin-bottom: 5px;
			position: relative;

			&:active,
			&.active {
				background: #e4ebf7;

				a {
					text-decoration: underline;
				}
			}

			&.active {
				.num {
					font-weight: 400;
				}
			}
		}

		a {
			color: #242424;
			text-decoration: none;

			&:hover {
				color: #ff6600;
			}
		}

		.num {
			top: 50%;
			right: 22px;
			height: 14px;
			color: #233f75;
			font-size: 11px;
			font-weight: 700;
			margin-top: -7px;
			line-height: 14px;
			position: absolute;
		}
	}

	.message-list {
		float: left;
		width: 710px;
		position: relative;
		margin-left: 360px;

		h3{
			margin-left: 30px;
			margin-bottom: 30px;
		}

		ul {
			padding: 0;
			list-style: none;
			margin: 0 0 200px 0;

			li {
				width: 100%;
				display: table;
				border-bottom: 1px solid #cccccc;

				&.message-new {
					background: #e5ecf7;
				}
			}
		}

		.message-avatar {
			width: 80px;
			padding: 9px;
			display: table-cell;
			vertical-align: top;
		}

		.message-note {
			width: 160px;
			padding: 9px;
			color: #34434b;
			font-size: 13px;
			line-height: 20px;
			display: table-cell;
			vertical-align: top;

			.message-author {
				color: #ff6600;
				display: block;
			}

			.message-author-name {
				display: block;
			}

			.message-date {
				display: block;

				span {
					margin-right: 5px;
				}
			}
		}

		.message-text {
			font-size: 15px;
			line-height: 20px;
			display: table-cell;
			vertical-align: top;
			padding: 9px;

			p {
				margin-bottom: 9px;
			}
		}
	}

	.message-form {
		z-index: 10;
		width: 710px;
		bottom: 0;
		background: #fff;
		position: fixed;
		padding-bottom: 30px;

		.form-control {
			height: 80px;
			width: 100%;
			outline: none;
			display: block;
			padding: 15px 10px;
			border: 1px solid #b8b8b8;
			.box-shadow(inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15));
		}

		.btn-message {
			width: 100%;
			height: 60px;
			border: none;
			padding: 19px;
			outline: none;
			color: #222222;
			display: block;
			font-size: 17px;
			line-height: 20px;
			text-align: center;
			background: #f2f2f1;
			text-decoration: none;;
			text-transform: uppercase;
			border-bottom: 2px solid #d9d9d8;

			&:hover {
				background: #e6ecf7;
			}
		}
	}
}

.lesson {
	padding-top: 236px;

	.lesson-theme {
		z-index: 100;
		width: 300px;
		top: 236px;
		bottom: 55px;
		position: fixed;
		padding-left: 8px;

		.lesson-theme-inner {
			height: 100%;
			overflow-y: scroll;
		}
	}

	.lesson-theme-list {
		margin: 0;
		padding: 13px 0 0 0;
		list-style: none;

		> li {
			font-size: 14px;
			line-height: 18px;
			position: relative;
			margin-bottom: 15px;

			> a {
				color: #242424;
				cursor: pointer;
				position: relative;
				padding-left: 20px;
				display: inline-block;
				text-decoration: none;

				&:before {
					top: 3px;
					left: 0;
					width: 12px;
					height: 12px;
					content: "";
					position: absolute;
					background: url("../img/lesson-theme-list-arrow.png") 0 0 no-repeat;
				}

				&:hover {
					color: #ff6600;

					&:before {
						background-position: 0 -12px;
					}
				}

				&.active {
					color: #ff6600;

					&:before {
						background-position: 0 -12px;
					}
				}
			}
		}

		ul {
			margin: 0;
			display: none;
			padding: 5px 0 5px 20px;
			list-style: none;

			> li {
				padding: 0 10px 8px 12px;
				border-left: 1px solid #ebebeb;

				&:last-child {
					padding-bottom: 0;
				}

				a {
					color: #242424;
					font-size: 11px;
					line-height: 1;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				&.current {
					a {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.lesson-text {
		margin-left: 302px;
		padding: 25px 80px;
		background: #fbfbfb;
		border: 1px solid #eeefef;
		border-bottom: none;
	}
}

.courses-title {
	padding-left: 60px;
}

.courses {
	padding-top: 210px;
}

.courses-list {
	margin: 0;
	padding: 0 0 0 208px;
	list-style: none;

	li {
		margin-bottom: 77px;
	}

	.course-img {
		float: left;
		width: 147px;
		margin-right: 18px;
		border: 1px solid #bebebe;
		.box-shadow(0px 3px 5px 0px rgba(0, 0, 0, 0.35));
	}

	.course-text {
		float: left;
		width: 220px;
	}

	.course-title {
		a {
			color: #272727;
			text-decoration: none;
		}
	}

	.course-activation-date {
		color: #adaeae;
		margin-bottom: 15px;
	}

	.course-date {
		color: #343536;
		line-height: 20px;
		font-style: italic;
		margin-bottom: 5px;

		span {
			display: block;
			font-style: normal;
		}
	}

	.course-goto {
		color: #f2570a;
		text-decoration: underline;
	}
}

.learning-block {
	margin: 10px 0 0 0;
	padding: 0;
	width: 100%;
	display: table;
	list-style: none;

	> li {
		width: 400px;
		display: table-cell;

		&:first-child {
			border-right: 1px solid #d0dcf2;
			border-left: 1px solid #f2f2f2;
		}

		&:last-child {
			border-left: 1px solid #d0dcf2;
			border-right: 1px solid #f2f2f2;
		}

	}

	.learning-title {
		color: #fff;
		padding: 10px;
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		background: #4d7dd2;
	}

	.learning-list {
		margin: 0;
		padding: 20px 8px;
		list-style: none;

		li {
			font-size: 12px;
			line-height: 17px;
			margin-bottom: 10px;
			opacity: .4;

			&.active {
				opacity: 1;
			}

			&:last-child {
				margin-bottom: 0;
			}

			a {
				color: #3c3c3c;
				position: relative;
				padding-left: 10px;
				text-decoration: none;

				&:before {
					top: 8px;
					left: 0;
					width: 4px;
					height: 4px;
					content: "";
					position: absolute;
					background: #bebebe;
					.border-radius(2px);
				}

				&:hover {
					color: #ff7800;
					text-decoration: underline;

					&:before {
						background: #ff7800;
					}
				}
			}
		}
	}
}

.test-list {
	width: 800px;
	margin: 0 0 30px 190px;

	h3 {
		color: #3b3c3c;
		font-size: 23px;
		line-height: 25px;
		font-style: normal;
		margin-bottom: 15px;
	}


	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		width: 100%;
		display: table;

		span {
			height: 51px;
			padding: 5px 0 5px 55px;
			display: table-cell;
			position: relative;
			vertical-align: middle;
			background: url("../img/test-list-divider.png") 0 100% no-repeat;
		}

		a {
			color: #434343;
			font-size: 14px;
			line-height: 20px;
			display: inline-block;
			text-decoration: none;

			&:before {
				top: 6px;
				left: 3px;
				width: 36px;
				height: 36px;
				content: " ";
				position: absolute;
				background: url("../img/icon-test.jpg") 0 0 no-repeat;
			}

			&:hover {
				color: #ea4d00;
				text-decoration: underline;

				&:before {
					background-position: 0 -36px;
				}
			}
		}
	}
}

.profile {
	margin: 0 0 45px 60px;

	h3 {
		color: #3b3c3c;
		font-size: 25px;
		margin-bottom: 10px;
	}

	.profile-text {
		float: left;
		width: 560px;
		margin-left: -5px;

		.form-group {
			margin-bottom: 15px;

			label {
				float: left;
				width: 190px;
				text-align: right;
			}
		}
	}

	label {
		display: block;
		color: #ff5d00;
		padding: 3px 0;
		font-size: 15px;
		font-weight: 600;
		line-height: 20px;
		font-style: italic;
	}

	.form-control {
		float: right;
		width: 345px;
		height: 26px;
		outline: none;
		color: #bebebe;
		display: block;
		font-size: 15px;
		background: #fff;
		line-height: 20px;
		padding: 2px 7px;
		border: 1px solid #cccccc;
	}

	.profile-image {
		float: left;
		width: 400px;
		margin-left: 30px;

		.profile-avatar {
			width: 141px;
			position: relative;
			margin-bottom: 12px;
			border: 1px solid #cbcccc;


			.profile-avatar-inner {
				top:0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 10;
				position: absolute;
				.box-shadow(inset 0px 1px 7px 0px rgba(0, 0, 0, 0.3));
			}
		}

		label {
			margin-bottom: 18px;
		}
	}

	.fileform {
		height: 32px;
		cursor: pointer;
		overflow: hidden;
		position: relative;

		.fileformlabel {
			float: left;
			width: 220px;
			height: 26px;
			color: #3d3d3d;
			font-size: 15px;
			overflow: hidden;
			text-align: left;
			line-height: 26px;
		}

		.upload{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			-moz-opacity: 0;
			filter: alpha(opacity=0);
			opacity: 0;
			font-size: 150px;
			height: 50px;
			z-index:20;
			cursor: pointer;
		}

		.btn-gray {
			float: left;
			margin-right: 8px;
		}
	}

	.btn-blue {
		margin: 35px 0 0 350px;
	}

	.col-image {
		float: left;
		width: 225px;

		.user-avatar {
			width: 203px;
			position: relative;
			margin-bottom: 23px;
			border: 1px solid #cbcccc;


			.user-avatar-inner {
				top:0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 10;
				position: absolute;
				.box-shadow(inset 0px 1px 7px 0px rgba(0, 0, 0, 0.3));
			}
		}

		.btn-blue {
			margin: 0;
		}
	}

	.col-text {
		float: left;
		width: 380px;
		padding-right: 20px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			color: #3b3c3c;
			font-size: 19px;
			line-height: 26px;
			padding: 7px 0;

			&:first-child {
				color: #ff6600;
				font-weight: 600;
				font-style: italic;
			}
		}
	}
}

.test {
	padding-top: 230px;
	padding-bottom: 30px;

	.quest {
		color: #434343;
		font-size: 18px;
		line-height: 30px;
		padding: 15px 20px;
		background: #ededed;
		margin-bottom: 25px;
	}

	.answer {
		padding-left: 20px;
		margin-bottom: 30px;

		.answer-title {
			color: #bbbbbb;
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 20px;
		}

		.answer-form-inner {
			padding-left: 30px;
			padding-right: 50px;
			margin-bottom: 50px;
		}

		textarea {
			padding: 14px 12px;
			height: 185px;
			line-height: 26px;
		}

		.form-control {
			width: 100%;
			outline: none;
			color: #434343;
			display: block;
			font-size: 18px;
			background: #fff;
			line-height: 26px;
			padding: 4px 12px;
			border: 1px solid #d4d4d4;
			.box-shadow( inset 0px 0px 13px 0px rgba(122, 193, 255, 0.3););
		}

		.answer-input {
			margin: 0;
			padding: 0;
			width: 545px;
			list-style: none;
			counter-reset: li;

			li {
				position: relative;
				padding-left: 35px;
				margin-bottom: 14px;

				&:before {
					top: 0;
					left: 0;
					line-height: 36px;
					font-size: 30px;
					font-weight: 700;
					text-align: left;
					position: absolute;
					color:#fa7923;
					content: counter(li);
					counter-increment: li;
				}
			}
		}

		.row {
			margin-left: -30px;
			position: relative;

			.col {
				width: 50%;
				float: left;
				padding: 0 40px 0 30px;

				&.col-right {
					padding-left: 80px;
					padding-right: 0;
				}
			}

			.form-line {
				top: 15px;
				left: 50%;
				margin-left: -65px;
				width: 143px;
				height: 113px;
				position: absolute;
				background: url("../img/form-line.png") 0 0 no-repeat;
			}
		}
	}

	.btn-orange {
		margin-left: 30px;
	}

	.three-col {
		li {
			float: left;
			width: 33.33%;
		}
	}

	.orange-marker {
		padding: 0;
		list-style: none;
		margin: 0 0 15px 0;

		li {

			font-size: 18px;
			line-height: 30px;
			padding-bottom: 10px;
			position: relative;
			padding-left: 18px;
			padding-right: 15px;

			&:before {
				top: 10px;
				left: 0;
				width: 9px;
				height: 9px;
				content: ' ';
				position: absolute;
				background: #ff8400;
				.border-radius(50%);
			}
		}
	}
}

/* Forum  */

.forum {
	padding-top: 212px;

	.container {
		padding-right: 15px;
	}
}

.pagination {
	padding: 0;
	list-style: none;
	margin: 0 0 20px 0;

	li {
		color: #515151;
		font-size: 15px;
		line-height: 25px;
		margin-right: 3px;
		display: inline-block;

		a {
			width: 25px;
			height: 25px;
			color: #515151;
			text-align: center;
			display: inline-block;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		span {
			color: #fff;
			width: 25px;
			height: 25px;
			text-align: center;
			display: inline-block;

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#777777+0,aca9a9+100 */
			background: #777777; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3Nzc3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhY2E5YTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #777777 0%, #aca9a9 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#aca9a9)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #777777 0%,#aca9a9 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #777777 0%,#aca9a9 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #777777 0%,#aca9a9 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #777777 0%,#aca9a9 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#aca9a9',GradientType=0 ); /* IE6-8 */

			.border-radius(4px)
		}
	}
}

.forum-partition {
	margin: 0;
	padding: 0;
	list-style: none;

	> li {
		background: #f9f9f9;
		border-bottom: 1px solid #c0c5ce;

		&:first-child {
			border-top: 1px solid #c0c5ce;
		}
	}

	.forum-partition-title {
		height: 48px;
		font-size: 21px;
		padding: 0 5px;
		line-height: 48px;
		background: #e6edf9;

		a {
			color: #565250;
			text-decoration: none;

			&:hover {
				color: #ff7e00;
				text-decoration: underline;
			}
		}
	}

	.forum-partition-body {
		display: table;
		width: 100%;
	}

	.forum-partition-text {
		width: 720px;
		color: #323335;
		font-size: 16px;
		line-height: 22px;
		padding: 15px 5px;
		display: table-cell;
		vertical-align: top;
	}

	.forum-partition-stats {
		display: table-cell;
		padding: 15px 5px 15px 0;
		vertical-align: top;

		dl {
			padding: 0;
			color: #838485;
			font-size: 15px;
			line-height: 15px;
			list-style: none;
			margin: 0 0 10px 0;
			background: url("../img/stats-point.png") left bottom repeat-x;

			dt {
				float: left;
				background: #f9f9f9;
				display: inline-block;
			}

			dd {
				float: right;
				background: #f9f9f9;
				display: inline-block;
			}
		}
	}
}

.forum-theme {
	width: 100%;
	text-align: left;
	margin-bottom: 20px;

	.message-number {
		width: 150px;
		padding: 5px;
		text-align: center;
	}

	.message-last {
		width: 302px;
		text-align: center;
		border-right: none;
	}

	.theme-name {

		a {
			color: #3e3e3e;
			padding-left: 40px;
			display: inline-block;
			text-decoration: none;
			background: url("../img/icon-theme-name.png") 2px 3px no-repeat;

			&:hover {
				color: #ff7e00;
				text-decoration: underline;
				background-position: 2px -82px;
			}
		}
	}

	th {
		color: #3e3e3e;
		padding: 5px 15px;
		font-size: 14px;
		line-height: 18px;
		font-style: italic;
		background: #e6edf9;
		vertical-align: middle;
		border-right: 1px solid #c1c7d1;
	}

	td {
		font-size: 14px;
		line-height: 21px;
		vertical-align: middle;
		padding: 10px 15px 10px 0;
		border-right: 1px solid #d6d6d6;
		border-bottom: 1px solid #d6d6d6;

	}
}

.forum-post {
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #d1d1d1;


	th {
		color: #3e3e3e;
		font-size: 14px;
		padding: 5px 15px;
		line-height: 19px;
		font-style: italic;
		background: #e6edf9;
		vertical-align: middle;

		.post-mail {
			float: left;
			width: 16px;
			height: 19px;
			display: block;
			margin-right: 10px;
			background: url("../img/icon-theme-name.png") 0 3px no-repeat;
		}

		.post-date {
			float: left;
			height: 19px;
			display: block;
			margin-right: 10px;
		}

		.post-time {
			float: left;
			height: 19px;
			display: block;
		}

		.post-reply {
			color: #ff7e00;
			margin: 0 10px;
			display: inline-block;
		}

		.post-number {
			color: #3e3e3e;
		}

		&.post-text {
			text-align: right;
			border-right: none;
		}
	}

	td {
		background: #f9f9f9;
		border-bottom: 1px solid #d1d1d1;

		&.post-text {
			padding: 15px;
			font-size: 12px;
			line-height: 20px;

			p {
				margin-bottom: 0;
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					padding-left: 8px;
					position: relative;

					&:before {
						left: 0;
						top: 0;
						content: '-';
						color: #393939;
						position: absolute;
					}
				}
			}
		}

	}

	.post-legend {
		width: 216px;
		vertical-align: top;
		border-right: 1px solid #c1c7d1;
	}

	.post-user {
		color: #ff7e00;
		font-size: 17px;
		padding: 8px 5px;
		line-height: 20px;
		border-bottom: 1px solid #d1d1d1;

		.post-user-role {
			color: #3e3e3e;
			display: block;
			font-size: 12px;
			line-height: 20px;
		}
	}

	.post-user-detail {
		color: #3e3e3e;
		font-size: 12px;
		padding: 8px 5px;
		line-height: 20px;
		border-bottom: 1px solid #d1d1d1;
	}

	.post-user-status {
		color: #3e3e3e;
		font-size: 12px;
		padding: 6px 5px;
		line-height: 20px
	}

	blockquote {
		margin: 0 30px 20px 60px;

		.blockquote-title {
			color: #ff7e00;
			font-size: 16px;
			line-height: 20px;
		}

		.blockquote-text {
			font-size: 12px;
			line-height: 20px;
			padding: 10px 15px;
			border: 1px solid #c7c7c7;
		}

		.blockquote-author {
			font-size: 14px;
			position: relative;
			margin-bottom: 5px;
			padding-bottom: 2px;

			&:before {
				left: 0;
				bottom: 0;
				width: 120px;
				height: 1px;
				content: '';
				background: #acb2bb;
			}
		}
	}

	.post-form {
		background: #f0f0f0;
		padding: 8px 214px 12px 214px;
		border-left: 1px solid #d1d1d1;
		border-right: 1px solid #d1d1d1;

		.form-control {
			height: 90px;
			width: 100%;
			outline: none;
			display: block;
			padding: 15px 10px;
			margin-bottom: 8px;
			border: 1px solid #b8b8b8;
			.box-shadow(inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15));
		}

		.btn-blue {
			padding-left: 105px;
			padding-right: 105px;
		}

	}
}

.form-reg {
	width: 570px;
	margin: 0 auto;
	padding-top: 40px;

	.form-group {
		margin-bottom: 15px;
	}

	label {
		float: left;
		width: 225px;
		display: block;
		color: #ff5d00;
		font-size: 15px;
		font-weight: 600;
		line-height: 20px;
		font-style: italic;
		text-align: right;
		padding: 3px 20px 3px 0;
	}

	.form-control {
		float: right;
		width: 345px;
		height: 26px;
		outline: none;
		color: #bebebe;
		display: block;
		font-size: 15px;
		background: #fff;
		line-height: 20px;
		padding: 2px 7px;
		border: 1px solid #cccccc;

		&.form-captcha {
			width: 205px;
			margin-left: 18px;
		}
	}

	.img-captcha {
		float: right;
		width: 121px;
	}
}

.login-box {
	width: 280px;

	.form-login {
		text-align: center;
		padding: 16px 9px;
		background: #e6edf9;
		border: 1px solid #babbbc;
		margin-bottom: 15px;
		.border-radius(10px);
		.box-shadow(0px 3px 4px 0px rgba(0, 0, 0, 0.3));

		.form-group {
			margin-bottom: 10px;
		}

		.form-control {
			width: 100%;
			height: 38px;
			outline: none;
			color: #3f3f3f;
			display: block;
			font-size: 15px;
			background: #fff;
			line-height: 20px;
			padding: 8px 7px;
			text-align: center;
			border: 1px solid #a6abb4;
		}

		.btn-blue {
			padding: 10px 35px;
		}
	}

	.forgot {
		color: #4d4d4d;
		font-size: 16px;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

/* End of Forum */

.divider {
	width: 100%;
	height: 1px;
	margin-bottom: 30px;
	background: url("../img/divider.png") top center no-repeat;
}

.teacher-link {
	top: 180px;
	right: -15px;
	width: 130px;
	color: #444444;
	font-size: 14px;
	font-weight: 600;
	font-style: italic;
	position: absolute;
	text-align: center;
	text-decoration: none;
	padding: 102px 30px 0 30px;
	background: url("../img/icon-teacher.png") 50% 0 no-repeat;

	&:hover {
		background-position: 50% -150px;
	}
}

.support-link {
	top: 350px;
	right: -15px;
	width: 130px;
	color: #444444;
	font-size: 14px;
	font-weight: 600;
	font-style: italic;
	position: absolute;
	text-align: center;
	text-decoration: none;
	padding: 112px 30px 0 30px;
	background: url("../img/icon-help.png") 50% 0 no-repeat;

	&:hover {
		background-position: 50% -200px;
	}
}

/* Forms */

.checkbox {
	margin-bottom: 15px;

	input[type=checkbox] {
		display: none;
	}


	label {
		color: #434343;
		cursor: pointer;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		position: relative;
		padding-left: 35px;
		display: inline-block;

		&:before {
			left: 0;
			top: 4px;
			content: "";
			width: 22px;
			height: 22px;
			padding-top: 1px;
			padding-left: 1px;
			margin-right: 10px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon-form-item.png") 0 0 no-repeat;
		}
	}

	input[type=checkbox]:checked + label:before {
		background: url("../img/icon-form-item.png") 0 -23px no-repeat;
	}
}

.radio {
	margin-bottom: 15px;

	label {
		color: #434343;
		cursor: pointer;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		position: relative;
		padding-left: 35px;
		display: inline-block;

		&:before {
			left: 0;
			top: 4px;
			content: "";
			width: 22px;
			height: 22px;
			padding-top: 1px;
			padding-left: 1px;
			margin-right: 10px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon-form-item.png") -23px 0 no-repeat;
		}
	}

	input[type=radio] {
		display: none;
	}

	input[type=radio]:checked + label:before {
		background: url("../img/icon-form-item.png") -23px -23px no-repeat;
	}

}

.teacher-form {
	width: 614px;
	height: 416px;
	position: relative;
	padding: 55px 70px 50px 62px;
	background: url("../img/tesacher-form-bg.jpg") 0 0 no-repeat;

	.form-title {
		color: #fff;
		font-size: 24px;
		line-height: 30px;
		padding-left: 90px;
		margin-bottom: 20px;
		font-family:'ComicSansMS-Bold';
	}

	.form-group {
		margin-bottom: 20px;
		position: relative;

		.form-label {
			float: left;
			width: 65px;
			color: #fff;
			display: block;
			font-size: 18px;
			font-weight: 400;
			line-height: 30px;
			font-family:'ComicSansMS-Bold';
		}

		.form-control {
			float: right;
			width: 415px;
		}
	}

	.form-control {
		width: 100%;
		color: #000;
		border: none;
		outline: none;
		display: block;
		font-size: 11px;
		background: #fff;
		line-height: 14px;
		padding: 8px 10px;
		font-style: italic;
		.border-radius(3px);
	}

	textarea {
		height: 128px;
		margin-bottom: 12px;
	}

	.btn-teacher-form {
		color: #fff;
		width: 175px;
		height: 63px;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 24px;
		padding: 15px 0;
		line-height: 33px;
		text-align: center;
		margin: 0 -18px 0 0;
		text-decoration: none;
		display: inline-block;
		font-family:'ComicSansMS-Bold';
		background: url("../img/btn-teacher-form.png") 0 -300px no-repeat;

		&:hover {
			background-position: 0 0;
		}

		&:active {
			top: 1px;
			position: relative;
		}
	}

	.btn-close {
		top: 50px;
		right: 55px;
		width: 14px;
		height: 14px;
		z-index: 100;
		cursor: pointer;
		position: absolute;
		background: url("../img/btn-close.png") 0 0 no-repeat;
	}
}

.help-form {
	width: 615px;
	height: 216px;
	background: url("../img/help-form-bg.png") 0 0 no-repeat;

	.form {
		width: 350px;
		margin-left: 60px;
	}


	.form-title {
		color: #383838;
		font-size: 22px;
		font-weight: 600;
		line-height: 42px;
		padding-left: 75px;
		margin-bottom: 16px;
	}

	.form-group {
		margin-bottom: 14px;
		position: relative;

		.form-label {
			float: left;
			width: 45px;
			color: #474542;
			display: block;
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
		}

		.form-control {
			float: right;
			width: 305px;
		}
	}

	.form-control {
		width: 100%;
		color: #000;
		outline: none;
		display: block;
		font-size: 11px;
		background: #fff;
		line-height: 14px;
		padding: 7px 10px;
		border: 1px solid #a8a8a8;
		.border-radius(3px);
	}

	textarea {
		height: 58px;
		margin-bottom: 12px;
	}

	.btn-help-form {
		margin: 0;
		width: 152px;
		height: 26px;
		border: none;
		outline: none;
		color: #e8eaec;
		padding: 3px 0;
		cursor: pointer;
		font-size: 19px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		background: #f0840c;
		text-decoration: none;
		display: inline-block;
		text-transform: lowercase;
		.border-radius(3px);

		&:hover {
			background: #f6b809;
		}

		&:active {
			top: 1px;
			position: relative;
		}
	}
}

.btn-gray {
	margin: 0;
	border: none;
	outline: none;
	color: #3d3d3d;
	font-size: 14px;
	padding: 2px 15px;
	line-height: 20px;
	background: #dadada;
	text-decoration: none;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #aaa9a9;
	.border-radius(4px);
}

.btn-blue {
	margin: 0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	padding: 5px 35px;
	line-height: 20px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	.border-radius(5px);

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7a9dd9+0,4878ce+100 */
	background: #7a9dd9; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhOWRkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ODc4Y2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7a9dd9 0%, #4878ce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a9dd9), color-stop(100%,#4878ce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7a9dd9 0%,#4878ce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7a9dd9 0%,#4878ce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7a9dd9 0%,#4878ce 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7a9dd9 0%,#4878ce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a9dd9', endColorstr='#4878ce',GradientType=0 ); /* IE6-8 */

	&:hover {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b9b9b+0,757575+100 */
		background: #9b9b9b; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliOWI5YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTc1NzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #9b9b9b 0%, #757575 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b9b9b), color-stop(100%,#757575)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #9b9b9b 0%,#757575 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #9b9b9b 0%,#757575 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #9b9b9b 0%,#757575 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #9b9b9b 0%,#757575 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9b9b', endColorstr='#757575',GradientType=0 ); /* IE6-8 */
	}

	&:active {
		top: 1px;
		position: relative;
	}

	&.btn-medium {
		font-size: 18px;
		padding: 4px 25px;
		line-height: 26px;
	}

	&.btn-xl {
		font-size: 22px;
		padding: 5px 45px;
		line-height: 27px;
	}
}

.btn-orange {
	margin: 0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	padding: 5px 35px;
	line-height: 24px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	.border-radius(5px);

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dc985e+0,d8812e+100 */
	background: #dc985e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjOTg1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkODgxMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #dc985e 0%, #d8812e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc985e), color-stop(100%,#d8812e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dc985e 0%,#d8812e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dc985e 0%,#d8812e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dc985e 0%,#d8812e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dc985e 0%,#d8812e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc985e', endColorstr='#d8812e',GradientType=0 ); /* IE6-8 */

	&:hover {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b9b9b+0,757575+100 */
		background: #9b9b9b; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliOWI5YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTc1NzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #9b9b9b 0%, #757575 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b9b9b), color-stop(100%,#757575)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #9b9b9b 0%,#757575 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #9b9b9b 0%,#757575 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #9b9b9b 0%,#757575 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #9b9b9b 0%,#757575 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9b9b', endColorstr='#757575',GradientType=0 ); /* IE6-8 */
	}

	&:active {
		top: 1px;
		position: relative;
	}
}



	/* Typography
	   ========================= */

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1 {
	color: #233f75;
	font-size: 36px;
	line-height: 40px;
	font-style: italic;
}

h2 {
	color: #233f75;
	font-size: 30px;
	line-height: 35px;
	font-style: italic;
}

h3 {
	color: #233f75;
	font-size: 24px;
	line-height: 50px;
	font-style: italic;
}

h4 {
	color: #233f75;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 10px;
}

p {
	margin: 0;
	padding: 0 0 20px 0;
}

a {
	color: #f2570a;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

strong {
	font-weight: 600;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-marker {
	padding: 0;
	list-style: none;
	margin: 0 0 20px 0;

	li {
		color: #242424;
		margin-bottom: 10px;
		padding-left: 10px;
		position: relative;

		&:before {
			top: 8px;
			left: 0;
			width: 4px;
			height: 5px;
			content: '';
			position: absolute;
			background: url("../img/point.png") 0 0 no-repeat;
		}
	}
}

.img-left {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	.box-shadow(0px 3px 5px 0px rgba(0, 0, 0, 0.35));
}

.img-left-text {
	float: left;
}

.text-lead {
	color: #17338d;
	font-size: 16px;
	font-style: italic;
}

.text-right {
	text-align: center;
}

.text-up {
	text-transform: uppercase;
}

@import url('redpond.less');